# სია (list)

სიები (list) წარმოადგენენ მონაცემთა რთულ სტრუქტურას, სადაც ობიექტები შენახულია გარკვეული თანმიმდევრობით. სიებში შესაძლებელია ობიექტების ადგილ-მდებარეობის შეცვლა, მნიშვნელობის შეცვლა, სტრიქონებისაგან განსხვავებით.

თქვენ შეგიძლიათ როგორც დაამატოთ ახალი, ასევე წაშალოთ არსებული ელემენტები. სიაში ერთი და იგივე ელემენტი შეიძლება რამდენიმეჯერ შეგვხვდეს.

### სიის შექმნა [ ] ოპერატორით ან list() მეთოდით

სიის შექმანა შესაძლებელია ნულიდან, ან რამოდენიმე ელემენტისაგან, გამოყოფილი მძიმეებით და შემოსაზღვრული კვადრატული ფრჩხილებით:

In [29]:
empty_lists = []
weekdayes = ['ორშაბათი', 'სამშაბათი', 'ოთხშაბათი', 'ხუთშაბათი', 'პარასკევი', 'შაბათი', 'კვირა']
firs_names = ["თემო", "ანა", "ირაკლი", "თეონა", "ლაშა", "ანა"]

ასევე list() ფუნქციის საშუალებით შესაძლებელია ცარიელი სიის შექმნა:

In [1]:
another_empty_list = list()
print(another_empty_list)

[]

weekdays სიაში ელემენტები მოთავსებული კვირის დღეების დალაგების მიხედვით (მოწესრუიგებულად). first_names სიაში კი გამოყენებულია ერთი და იგივე ელემენტები: "ანა"

### მონაცემთა სხვა ტიპების გარდაქმნა სიად list() ფუნქციის გამოყენებით

ფუნქცია list() გარდაქმნის სტრიქონს სიად:

In [33]:
print(list('cat'))

a_tuple = ('ready', 'fire', 'aim')
print(list(a_tuple))

birthday = '1/6/1998'
print(birthday.split('/'))

splitme = 'a/b//c/d///e'
print(splitme.split('/'))

splitme = 'a/b//c/d///e'
print(splitme.split('//'))

['c', 'a', 't']
['ready', 'fire', 'aim']
['1', '6', '1998']
['a', 'b', '', 'c', 'd', '', '', 'e']
['a/b', 'c/d', '/e']

### სიის ელემენტის მიღება ინდექსით

In [21]:
marxes = ['Gruncho', 'Chico', 'Harpo']
print(marxes[0])
print(marxes[1])
print(marxes[2])

print()

print(marxes[-1])
print(marxes[-2])
print(marxes[-3])

print()

print(marxes[5])

Gruncho
Chico
Harpo

Harpo
Chico
Gruncho

IndexError: list index out of range

### ჩართული სიები

სიაში შესაძლებელია სხვადასხვა ტიპის მონაცემების შენახვა. ასევე შესაძლებელია სიის შენახვაც. მაგ.:

In [65]:
names1 = ['პაატა', 'თეონა', 'დემეტრე', 'ალექსანდრე', [45, 50, 'sos']]
names2 = ['ნიკა', 'მარიამი', 'დათო', ['10', 'moon', '100'], 'ვახო', 'ლელა', [78, 96, 90], 'ბესო']
numbers = [12, 782, 57]
all = [names1, names2, numbers]

print(all, "\n")
print(all[0])
print(all[1])
print(all[2])

print()

print(all[0][0])
print(all[0][1])
print(all[1][0])
print(all[1][1])
print(all[2][0])
print(all[2][1])
print(all[0][-1])
print(all[-1][-1])
print(all[0][-1][0])
print(all[0][-1][1])
print(all[0][-1][-1])
print(all[1][3][1])
print(all[1][-2][-1])

[['პაატა', 'თეონა', 'დემეტრე', 'ალექსანდრე', [45, 50, 'sos']], ['ნიკა', 'მარიამი', 'დათო', ['10', 'moon', '100'], 'ვახო', 'ლელა', [78, 96, 90], 'ბესო'], [12, 782, 57]]

['პაატა', 'თეონა', 'დემეტრე', 'ალექსანდრე', [45, 50, 'sos']]
['ნიკა', 'მარიამი', 'დათო', ['10', 'moon', '100'], 'ვახო', 'ლელა', [78, 96, 90], 'ბესო']
[12, 782, 57]

პაატა
თეონა
ნიკა
მარიამი
12
782
[45, 50, 'sos']
57
45
50
sos
moon
90

### სიის ელემენტის შეცვლა [ ] ოპერატორით

In [67]:
names = ['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო']
names[0] = 'ლევანი'

print(names)

names[7] = 'გივი'

['ლევანი', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო']

IndexError: list assignment index out of range

### ქვესიის მიღება [start:end:step] ოპერატორით

In [10]:
names = ['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო']
print(names[:2])
print(names[2:4])
print(names[::-2])
print(names[:1:-2])
print(names[::-1])

['დოდო', 'დეა']
['ლიკა', 'ეკა']
['სოფო', 'ეკა', 'დეა']
['სოფო', 'ეკა']
['სოფო', 'მარი', 'ეკა', 'ლიკა', 'დეა', 'დოდო']

### ელემენტის დამატება სიის ბოლოში append() მეთოდის  მეშვეობით

In [39]:
names = ['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო']
names.append('ლევანი')

print(names)

['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო', 'ლევანი']

### სიების გაერთიანება extend() მეთოდის გამოყენებით, ან += ოპერატორით

In [46]:
names = ['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო']
others = [57, 65, 'სახლი', 2.59]

names.extend(others)
print(names)

print()

names = ['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო']
names += others
print(names)

print()

names = ['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო']
names.append(others)
print(names)

['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო', 57, 65, 'სახლი', 2.59]

['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო', 57, 65, 'სახლი', 2.59]

['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო', [57, 65, 'სახლი', 2.59]]

### სიაში ელემენტის დამატება ფუნქცია insert() გამოყენებით

append() მეთოდით სიაში ელემეტის დამატება შეგვიძლია ამ სიის ბოლოში. insert() ფუნქციის დახმარებით კი – სიის ნებისმიერ ადგილას: უნდა მივუთითოს ინდქსი და ჩასამატებელი ობიექტი. მაგ.:

In [13]:
names = ['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო']
names.insert(0, 'გივი')
print(names)

names.insert(5, 4.56)
print(names)

names.insert(100, '0')
print(names)

['გივი', 'დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო']
['გივი', 'დოდო', 'დეა', 'ლიკა', 'ეკა', 4.56, 'მარი', 'სოფო']
['გივი', 'დოდო', 'დეა', 'ლიკა', 'ეკა', 4.56, 'მარი', 'სოფო', '0']

### სიიდან ელემენტის წაშლა del ოპერატორის გამოყენებით

In [48]:
names = ['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო']
del names[-1]
print(names)

del names[2]
print(names)

a = 8
print(a)
del a
print(a)

['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი']
['დოდო', 'დეა', 'ეკა', 'მარი']
8

NameError: name 'a' is not defined

del წარმოადგენს python-ის ოპერატორს და არა სიის მეთოდს – არ შეიძლება ჩაიწეროს names[-1].del().

del ოპერატორი, შეიძლება ითქვას, მსგავსია მინიჭების ოპერატორის საწინააღმდეგო მოქმედებისა. იგი ობიექტსა და ამ ობიექტზე მიმთითებელ სახელს (ცვლადს) აცილებს ერთმანეთს. სხვა სიტყვებით რომ ვთვათ, კავშირს წყვეტს სახელსა და ობიექტს შორის, რის შედეგადაც ობიექტი მეხსიერებიდან (RAM) იშლება ნაგვის შემგროვებლის (Garbage collection) მეშვეობით.

### ელემენტის წაშლა მნიშვნელობის მიხედვით remove() ფუნქციის გამოყენებით

In [69]:
names = ['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო']
names.remove('დოდო')
print(names)

name = names[2]
names.remove(name)
print(names)

['დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო']
['დეა', 'ლიკა', 'მარი', 'სოფო']

In [3]:
names = ['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო']
name = 'დოდ'

if name in names:
    names.remove(name)
else: print("'{}' არ არსებობს სიაში".format(name))

print(names)

'დოდ' არ არსებობს სიაში
['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო']

### ელემენტის წაშლა pop() მეთოდის დახმარებით და ამავე დროს წაშლილი ელემენტის დამახსოვრება

pop() ფუნქციის დახმარებით შეგვიძლია ერთდროულად წავშალოთ ბოლო ელემენტი სიიდან და დავიმახსოვროთ სხვა ცვლადში. მაგ.:

In [59]:
names = ['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო']

del_name = names.pop()
print(del_name)
print(names)

del_name = names.pop(1)
print(del_name)
print(names)

სოფო
['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი']
დეა
['დოდო', 'ლიკა', 'ეკა', 'მარი']

In [7]:
names = ['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო']
deleted_names = []

deleted_names.append(names.pop(0))
deleted_names.append(names.pop(0))

print(names)
print(deleted_names)

# LIFO    FIFo

['ლიკა', 'ეკა', 'მარი', 'სოფო']
['დოდო', 'დეა']

### სიის ელემეტის ინდექსის მიღება index() ფუნქციის დახმარებით

In [10]:
names = ['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო']
print(names.index('ლიკა'))
print(names.index('დოდო'))
print(names.index('სოფო'))

name = 'პაატა'
if name in names: print(names.index(name))
else: print("'{}' სიაში ვერ ვიპოვე".format(name))

2
0
5
'პაატა' სიაში ვერ ვიპოვე

### სიაში ელემენტის არსებობის შემოწმება in ოპერატორის გამოყენებით

In [63]:
names = ['დოდო', 'დეა', 'ლიკა', 'ეკა', 'მარი', 'სოფო']
print('ეკა' in names)
print('ვახო' in names)

True
False

### სიაში ელემენტის რაოდენობის მიღება count() მეთოდის გამოყენებით

In [65]:
cars = ['mercedec', 'bmw', 'toyota', 'audi', 'cadilac', 'bmw', 'suzuki', 'subaru']
print(cars.count('bmw'))
print(cars.count('audi'))
print(cars.count('volkzwagen'))

2
1
0

### სიის გარდაქმნა სტრიქონად join() მეთოდის გამოყენებით

In [72]:
marxes = ['Gruncho', 'Chico', 'Harpo']
print('. '.join(marxes))

print()

friends = ['Harry', 'Hermion', 'Ron']
separator = ' * '

joined = separator.join(friends)
print(joined)

separated = joined.split(separator)
print(separated)

Gruncho. Chico. Harpo

Harry * Hermion * Ron
['Harry', 'Hermion', 'Ron']

### სიის ელემენტების ადგილ-მდებარეობის შეცვლა (სორტირება) sort მეთოდის გამოყენებით

ელემეტების სორტირებისთვის გამოიყენება ორი ფუნქცია:
    1. sort() – ასორტირებს თავად სიას
    2. sorted() – აბრუნებს სორტირებულ სიის ასლს

თუ სიის ელემენტები რიცხვებია, სორტირება ხდება ზრდადობის მიხედვით. სტრიქონების შემთხვევაში კი – ანბანის მიხედვით.

In [77]:
marxes = ['Gruncho', 'Chico', 'Harpo']
print(sorted(marxes))
print(marxes)

print()

sorted_marxes = sorted(marxes)
print(sorted_marxes)

print()

marxes.sort()
print(marxes)

['Chico', 'Gruncho', 'Harpo']
['Gruncho', 'Chico', 'Harpo']

['Chico', 'Gruncho', 'Harpo']

['Chico', 'Gruncho', 'Harpo']

In [80]:
numbers = [2, 1.4, 5.01, 0.3]
numbers.sort()
print(numbers)

print()

numbers = [2, 1.4, 5.01, 0.3]
numbers.sort(reverse=True)
print(numbers)

[0.3, 1.4, 2, 5.01]

[5.01, 2, 1.4, 0.3]

### სიის სიგრძის მიღება len() მეთოდის დახმარებით

In [81]:
numbers = [2, 1.4, 5.01, 0.3]
print(len(numbers))

4

### მინიჭება და კოპირება შესაბამისად = ოპერატორისა და copy() მეთოდის გამოყენებით

In [86]:
a = [1, 2, 3]
b = a

print(a)
print(b)

print()

a[0] = 'სიურპრიზი'
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]

['სიურპრიზი', 2, 3]
['სიურპრიზი', 2, 3]

b მიუთითებს იმავე ობიქტს რასაც a. აქედან გამოდის, რომ ორივე სახელი: a და b ერთი და იმავე ობიექტს მიუთითებენ. თუ შევცვლით, მაგალითად, a ცლადში სიას, b-შიც აისახება ეს ცვლილება და პირიქით b-ს შეცვლა გამოიწვევს a-ს შეცვლას.

In [88]:
b[0] = 'ნორმა'
print(b)
print(a)

['ნორმა', 2, 3]
['ნორმა', 2, 3]

შეგვიძლია არსებული ცვლადის კოპირება სხვა ცვლადში, ისე, რომ რომელიმე ცვლადის მნიშვნელობის შეცვლამ არ გამოიწვიოს მეორე ცვლადის იგივე ცვლილება. ამისათვის არსებობს სამი ხერხი:
    1. ფუნქცია copy()
    2. გარდაქმნის ფუნქცია list()
    3. სიის ასლის მიღება [:]

In [89]:
a = [1, 2, 3]
b = a.copy()
c = list(a)
d = a[:]

a[0] = '28/10/1972'

print(a)
print(b)
print(c)
print(d)

['28/10/1972', 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]